<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="fragments/header.html :: fragment-header"></div>
</head>

<body>
<div id="wrapper">
    <div th:replace="fragments/authHead.html :: authHead"></div>
    <!--페이지 소스-->
    <div class="login" id="loginForm">

        <div class="my-page-update-form">
            <form action="" method="post" th:action th:object="${userAuthDto}">

                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">전체 오류 메시지</p>
                </div>

                <div class="input-container">
                    <input id="loginId" placeholder="아이디" th:errorclass="field-error" th:field="*{loginId}" type="text">
                    <div class="field-error" th:errors="*{loginId}"/>
                </div>
                <div class="input-container">
                    <input id="password" placeholder="비밀번호" th:errorclass="field-error" th:field="*{password}"
                           type="password">
                    <div class="field-error" th:errors="*{password}"/>
                </div>
                <div class="auth-button">
                    <button>로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--페이지 소스-->
<div th:replace="fragments/footer.html :: fragment-footer"></div>
</body>
</html>
