<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>

<body>
    <div id="wrapper">
        <div th:replace="/fragments/nav.html :: fragment-nav"></div>

        <div class="review-detail-page">
            <div class="left">
            </div>
            <div class="right">
                <div id="review-detail-info">
                    <div th:text="${review.getRestaurantName()}" class="review-detail-title">가게 이름</div>
                    <div th:text="${review.getForkCutletName()}" class="review-detail-menu">메뉴 이름</div>
                    <div th:text="${review.getOverallRating()}" class="review-detail-overall">평점</div>
                    <div class="review-detail-by">
                        <span th:text="${review.getCreatedDate()}">날짜</span>
                        <span th:text="'| ' + ${review.getUserNickName()}">| 작성자</span>
                    </div>
                </div>

                <div class="review-detail-one-sentence" th:text="${review.getOneSentence()}">한줄평</div>

                <div class="review-detail-images">
                    <div class="review-detail-container" th:each="storeImageName : ${review.getStoreImageNames()}">
                        <img src="/img/home-top.png" th:src="|/images/${storeImageName}|">
                    </div>
                </div>

                <div class="review-detail-content" th:text="${review.getContent()}">리뷰 상세 평가 내용이다능</div>

                <div class="review-detail-ratings">
                    <div class="rating"> <span>식감</span> <span class="rating" th:text="${review.getRatingInfo().get('texture')}">3</span> </div>
                    <div class="rating"> <span>소스</span> <span class="rating" th:text="${review.getRatingInfo().get('sauce')}">3</span> </div>
                    <div class="rating"> <span>사이드</span> <span class="rating" th:text="${review.getRatingInfo().get('side')}">3</span> </div>
                    <div class="rating"> <span>접근성</span> <span class="rating" th:text="${review.getRatingInfo().get('accessibility')}">3</span> </div>
                    <div class="rating"> <span>총점</span> <span class="rating" th:text="${review.getOverallRating()}">3</span> </div>
                </div>

                <div th:replace="/fragments/likes.html :: likes"></div>
                <div th:replace="/fragments/comments.html :: comments"></div>

            </div>
        </div>
    </div>
    <div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>

</html>