<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
    <div id="wrapper">
        <div th:replace="/fragments/nav.html :: fragment-nav"></div>
        <!--페이지 소스-->
        <div class="review-form-back">
        <div class="review-container">

            <form action="" th:action th:object="${createReviewForm}" method="post" enctype="multipart/form-data">

                <div class="review-form-title">
                    <input class="review_title" type="text" id="restaurantName" name="restaurantName" th:field="*{restaurantName}" placeholder="가게 이름"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{restaurantName}" />
                </div>

                <div class="review-form-menu">
                    <div class="review-form-menu-type">
                        <input type="number" name="forkCutletType"  th:field="*{forkCutletType}"/>
                        <div class="left-type">
                            <label class="review-form-fork-type non-selected" for="type-0" id="type-name-0">경양식</label><input type="radio" id="type-0" checked onclick="selectType(this)" name="forkCutletType" value="0">
                        </div>
                        <div class="right-type">
                            <label class="review-form-fork-type non-selected" for="type-1" id="type-name-1">일식</label><input type="radio" id="type-1" onclick="selectType(this)" name="forkCutletType" value="1">
                        </div>
                        <div class="field-error" th:errors="*{forkCutletType}"></div>
                    </div>

                    <input class="menu-name" type="text" id="forkCutletName" name="restaurantName" th:field="*{forkCutletName}" placeholder="메뉴 이름"
                           th:errorclass="field-error">
                    <div class="field-error" th:errors="*{forkCutletName}" />
                </div>

                <div id="upload-images">

                </div>


                <div class="review-form-image">
                    <label for="review-images">
                        <div id="camera-ico-container">
                            <img src="/img/camera-ico.webp">
                        </div>
                        <div id="review-image-name">
                            사진
                        </div>
                    </label>
                    <input id="review-images" class="review_image" type="file" multiple="multiple" name="imageFiles" th:field="*{imageFiles}" placeholder="사진"
                           th:errorclass="field-error" style="display: none">
                    <div class="field-error" th:errors="*{imageFiles}"></div>
                </div>

                <div th:replace="/fragments/location.html :: location"></div>

                <div class="review-form-oneSentence">
                    <input type="text" class="oneSentence" name="oneSentence" th:field="*{oneSentence}" placeholder="한줄 추천을 입력해주세요"/>
                    <div class="field-error" th:errors="*{oneSentence}"></div>
                </div>

                <div class="review-form-content">
                    <textarea class="review_content" name="content" th:field="*{content}" placeholder="리뷰를 입력해주세요"/>
                    <div class="field-error" th:errors="*{content}"></div>
                </div>
                <!-- 별점 -->
                <div class="review-form-ratings">
                    <div class="review-form-rating">
                        <label>식감</label>
                        <input type="number" style="display: none" th:field="*{texture}" value="0">
                        <div th:replace="/fragments/star.html :: star('texture', ${createReviewForm.getTexture()})"></div>
                        <div class="field-error" th:errors="*{texture}"></div>
                    </div>
                    <div class="review-form-rating">
                        <label>소스</label>
                        <input type="number" style="display: none" th:field="*{sauce}" value="0">
                        <div th:replace="/fragments/star.html :: star('sauce', ${createReviewForm.getSauce()})"></div>
                        <div class="field-error" th:errors="*{sauce}"></div>
                    </div>
                    <div class="review-form-rating">
                        <label>사이드</label>
                        <input type="number" style="display: none" th:field="*{side}" value="0">
                        <div th:replace="/fragments/star.html :: star('side', ${createReviewForm.getSide()})"></div>
                        <div class="field-error" th:errors="*{side}"></div>
                    </div>
                    <div class="review-form-rating">
                        <label>접근성</label>
                        <input type="number" style="display: none" th:field="*{accessibility}" value="0">
                        <div th:replace="/fragments/star.html :: star('accessibility', ${createReviewForm.getAccessibility()})"></div>
                        <div class="field-error" th:errors="*{accessibility}"></div>
                    </div>
                </div>

                <div class="review-form-button">
                    <button type="submit">발행</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    <div th:replace="/fragments/footer.html :: fragment-footer"></div>
</body>
<script type="text/javascript">
    $(document).ready(function (e){
        $("input[type='file']").change(function(e){

            //div 내용 비워주기
            $('#upload-images').empty();

            var files = e.target.files;
            var arr =Array.prototype.slice.call(files);

            //업로드 가능 파일인지 체크
            for(var i=0;i<files.length;i++){
                if(!checkExtension(files[i].name,files[i].size)){
                    return false;
                }
            }

            document.getElementById('upload-images').style.display = 'block';


            preview(arr);


        });//file change

        function checkExtension(fileName,fileSize){

            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
            var maxSize = 20971520;  //20MB

            if(fileSize >= maxSize){
                alert('파일 사이즈 초과');
                $("input[type='file']").val("");  //파일 초기화
                return false;
            }

            if(regex.test(fileName)){
                alert('업로드 불가능한 파일이 있습니다.');
                $("input[type='file']").val("");  //파일 초기화
                return false;
            }
            return true;
        }

        function preview(arr){
            arr.forEach(function(f){

                //div에 이미지 추가
                var str = '<div class="upload-image-container">';

                //이미지 파일 미리보기
                if(f.type.match('image.*')){
                    var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
                    reader.onload = function (e) { //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                        str += '<img src="'+e.target.result+'"></div>';
                        $(str).appendTo('#upload-images');
                    }
                    reader.readAsDataURL(f);
                }else{
                    str += '<img src="/resources/img/fileImg.png">';
                    $(str).appendTo('#upload-images');
                }
            });//arr.forEach
        }
    });
    const selectType = (target) => {
        var id = "type-name-";
        var className = "review-form-fork-type ";
        var menuSize = 2;
        for (var i = 0; i < menuSize; i++){
            if(i == target.value){
                document.getElementById(id + i).className = className + "selected";
            }else{
                document.getElementById(id + i).className = className + "non-selected";
            }
        }

        document.getElementById("forkCutletType").setAttribute('value', target.value);
    }
    $(function (){
        var id = "type-name-";
        var className = "review-form-fork-type ";
        var menuSize = 2;
        var preValue = document.getElementById("forkCutletType").value;

        for (var i = 0; i < menuSize; i++){
            if(i == preValue){
                document.getElementById(id + i).className = className + "selected";
            }else{
                document.getElementById(id + i).className = className + "non-selected";
            }
        }
    });
</script>
</html>
