<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="comments-content" class="comments" th:fragment="comments">
    <div id="comment" th:each="comment : ${comments}" th:text="${comment.getContent()}">댓글을 달아용</div>

    <div th:replace="/fragments/page-container.html :: page-container"></div>

    <div class="comment-container">
        <div class="write-container">
            <input id="comment-content" type="text" class="write-comment" placeholder=""/>
        </div>
        <div class="send-container">
            <button th:if="${user} == null" th:onclick="|location.href='@{/auth/login}'|">등록</button>
            <button th:unless="${user} == null" onclick="addComment()">등록</button>
        </div>
    </div>

    <script type="text/javascript">
        function addComment() {
            var url = $(location).attr('origin') + $(location).attr('pathname') + "/comments";
            var content = $("#comment-content").val();
            var data = {content : content}
            // var
            $.ajax({
                type: "POST",
                url: url,
                data: data,
                dataType: "text"
            }).done(function (result){
                $("#comments-content").replaceWith(result);
            });
        }
    </script>
</div>
</html>
