<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="fragment-footer">
    <div class="about">
        <ul>
            <div id="about-title">About</div>
            <div class="about-people">개발 이건호</div>
            <div class="about-people">디자인 윤수현</div>
            <div id="about-project">돈가스 미식가의 맛집 탐방</div>
        </ul>

    </div>

    <div class="footer-logo">
        <div class="footer-logo-container">
            <img src="/img/footer-logo.webp"/>
        </div>
    </div>
</footer>
</html>