<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="imageUpload" th:fragment="imageUpload">
    <div id="upload-images">
    </div>

    <div class="review-form-image">
        <label for="imageFiles">
            <div id="camera-ico-container">
                <img src="/img/camera-ico.webp">
            </div>
            <div id="review-image-name">
                사진
            </div>
        </label>
        <div class="non-error" id="noImageError">버튼을 눌러 이미지를 업로드하세요.</div>
        <input id="imageFiles" multiple="multiple" placeholder="사진" style="display: none" type="file">
    </div>

    <script th:inline="javascript" type="text/javascript">
        // 파일 현재 필드 숫자 totalCount랑 비교값
        var imageCount = 0;
        // 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
        var totalCount = 5;
        // 파일 고유넘버
        var imageNum = 0;

        var preImageNum = 0;

        var pre_images = new Array();
        var deleteImages = new Array();

        // 첨부파일 배열
        var image_files = new Array();

        /*<![CDATA[*/
        var imagesNames = [[${reviewForm.preImages}]];
        /*]]>*/

        $(document).ready(function () {
            $("#imageFiles").on("change", fileCheck);

            if (imagesNames == null) return;

            var hasImage = false;
            imagesNames.forEach(i => {
                pre_images.push(i);
                hasImage = true;
            });
            pre_images.forEach(imageName => {
                var str = '<div id="image' + imageNum + '" class="upload-images-container">';
                var delbtn = '<button class="delete_btn" onclick="preImageDelete(\'image' + imageNum + '\')">X</button> <div class="upload-image-container">';
                str += delbtn;
                str += '<img src="/images/' + imageName + '"></div> </div>';
                $(str).appendTo('#upload-images');
                imageCount++;
                imageNum++;
                preImageNum++;
            })
            if (hasImage) document.getElementById('upload-images').style.display = 'block';
            $("#preImages").val("");
        });

        function fileCheck(e) {
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);


            //업로드 가능 파일인지 체크
            if (!validateFiles(files, filesArr)) return;
            imageCount = imageCount + filesArr.length;

            var hasImage = false;

            filesArr.forEach(f => {
                if (preview(f)) hasImage = true;
            })

            if (hasImage) document.getElementById('upload-images').style.display = 'block';

            $("#imageFiles").val("");
        }

        function validateFiles(files, filesArr) {
            if (!checkFileCount(filesArr.length)) return false;

            for (var i = 0; i < files.length; i++) {
                if (!checkExtension(files[i].name, files[i].size)) {
                    return false;
                }
            }
            return true;
        }

        function checkFileCount(uploadCount) {
            if (imageCount + uploadCount > totalCount) {
                alert('파일은 최대 ' + totalCount + '개까지 업로드 할 수 있습니다.');
                return false;
            }
            return true;
        }

        function checkExtension(fileName, fileSize) {

            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
            var maxSize = 20971520;  //20MB

            if (fileSize >= maxSize) {
                alert('파일 사이즈 초과');
                return false;
            }

            if (regex.test(fileName)) {
                alert('업로드 불가능한 파일이 있습니다.');
                return false;
            }
            return true;
        }

        function preview(f) {
            //이미지 파일 미리보기
            if (f.type.match('image.*')) {
                var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
                reader.onload = function (e) { //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                    var str = '<div id="image' + imageNum + '" class="upload-images-container">';
                    var delbtn = '<button class="delete_btn" onclick="fileDelete(\'image' + imageNum + '\')">X</button> <div class="upload-image-container">';
                    str += delbtn;
                    str += '<img src="' + e.target.result + '"></div> </div>';
                    $(str).appendTo('#upload-images');
                    image_files.push(f);
                    imageNum++;
                }
                reader.readAsDataURL(f);
                return true;
            }
            return false;
        }

        function preImageDelete(imageNum) {
            var no = imageNum.replace(/[^0-9]/g, "");
            pre_images[no].is_delete = true;
            deleteImages.push(pre_images[no]);
            $('#' + imageNum).remove();
            imageCount--;
            if (imageCount == 0) document.getElementById("upload-images").style.display = 'none';
        }

        // 파일 부분 삭제 함수
        function fileDelete(imageNum) {
            var no = imageNum.replace(/[^0-9]/g, "") - preImageNum;
            image_files[no].is_delete = true;
            $('#' + imageNum).remove();
            imageCount--;
            if (imageCount == 0) document.getElementById("upload-images").style.display = 'none';
        }
    </script>
</div>
</html>
