<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div id="imageUpload" th:fragment="imageUpload">
    <div id="upload-images"></div>


    <div class="review-form-image">
        <label for="imageFiles">
            <div id="camera-ico-container">
                <img src="/img/camera-ico.webp">
            </div>
            <div id="review-image-name">
                사진
            </div>
        </label>
        <input id="imageFiles" type="file" multiple="multiple" placeholder="사진" style="display: none">
    </div>

    <script type="text/javascript">
        // 파일 현재 필드 숫자 totalCount랑 비교값
        var imageCount = 0;
        // 해당 숫자를 수정하여 전체 업로드 갯수를 정한다.
        var totalCount = 5;
        // 파일 고유넘버
        var imageNum = 0;
        // 첨부파일 배열
        var image_files = new Array();

        $(document).ready(function(){
            $("#imageFiles").on("change", fileCheck);
        });


        function fileCheck(e) {
            var files = e.target.files;
            var filesArr = Array.prototype.slice.call(files);


            //업로드 가능 파일인지 체크
            if(!validateFiles(files, filesArr)) return;
            imageCount = imageCount + filesArr.length;

            var hasImage = false;

            filesArr.forEach(f => {
                if(preview(f)){
                    addImageFile(f);
                    hasImage = true;
                }
            })
            if (hasImage) document.getElementById('upload-images').style.display = 'block';

            // $("#imageFiles").val("");
        }

        function validateFiles(files, filesArr) {
            if(!checkFileCount(filesArr.length)) return false;

            for(var i=0;i<files.length;i++){
                if(!checkExtension(files[i].name,files[i].size)){
                    return false;
                }
            }
            return true;
        }

        function checkFileCount(uploadCount) {
            if (imageCount + uploadCount > totalCount) {
                alert('파일은 최대 ' + totalCount + '개까지 업로드 할 수 있습니다.');
                return false;
            }
            return true;
        }

        function checkExtension(fileName,fileSize){

            var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
            var maxSize = 20971520;  //20MB

            if(fileSize >= maxSize){
                alert('파일 사이즈 초과');
                return false;
            }

            if(regex.test(fileName)){
                alert('업로드 불가능한 파일이 있습니다.');
                return false;
            }
            return true;
        }

        function preview(f){
            //div에 이미지 추가
            var str = '<div id="image'+imageNum+'" class="upload-images-container">';
            var delbtn = '<button class="delete_btn" onclick="fileDelete(\'image' + imageNum + '\')">X</button> <div class="upload-image-container">';
            str += delbtn;
            //이미지 파일 미리보기
            if(f.type.match('image.*')){
                var reader = new FileReader(); //파일을 읽기 위한 FileReader객체 생성
                reader.onload = function (e) { //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                    str += '<img src="'+e.target.result+'"></div> </div>';
                    $(str).appendTo('#upload-images');
                }
                reader.readAsDataURL(f);
                return true;
            }
            return false;
        }

        // 파일 부분 삭제 함수
        function fileDelete(imageNum){
            var no = imageNum.replace(/[^0-9]/g, "");
            image_files[no].is_delete = true;
            $('#' + imageNum).remove();
            imageCount --;
            if(imageCount == 0) document.getElementById("upload-images").style.display = 'none';
        }

        function addImageFile(f) {
            image_files.push(f);
            imageNum++;
        }

        function registerReview(){
            var form = $("#review-form")[0];
            var formData = new FormData(form);
            image_files.forEach(image => {if(!image.is_delete) formData.append("imageFiles", image);});
            var url = window.location.href;

            $.ajax({
                type: "PUT",
                enctype: "multipart/form-data",
                url: url,
                data : formData,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    console.log(data);
                    if (typeof data == 'string') {
                        var lastIdx = url.lastIndexOf('/');
                        window.location.href = url.substring(0, lastIdx);
                    }else{
                        data.forEach(error => {
                            console.log("field", error['field']);
                            console.log("defaultMessage", error['defaultMessage']);

                            var errorElement = document.getElementById(error['field']);
                            if(errorElement.getAttribute('class') == 'field-error') return;

                            errorElement.setAttribute('class', 'field-error');

                            var errorMessage = document.createElement('div');
                            errorMessage.setAttribute('class', 'field-error');
                            errorMessage.textContent = error['defaultMessage'];

                            errorElement.insertAdjacentElement("afterend", errorMessage);
                        })
                    }

                    return false;
                },
                error: function (xhr, status, error) {
                    alert("서버오류로 지연되고있습니다. 잠시 후 다시 시도해주시기 바랍니다.");
                    console.log("xhr : ", xhr);
                    console.log("status : ",status);
                    console.log("error : ",error);
                    return false;
                }
            });
        }
    </script>
</div>
</html>
