<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="nav-bg" th:fragment="fragment-nav">
    <a href="/" class="nav-logo">
        <div class="nav-logo-container">
            <img src="/img/main-logo.webp"/>
        </div>
    </a>


    <div class="nav-control-container" th:if="${user} == null">
        <div class="nav-control">
            <div class="nav-control-item"> <a class="nav-href" th:href="@{/auth/login}" >로그인</a> </div>
            <div class="nav-control-item middle-dot"></div>
            <div class="nav-control-item"> <a class="nav-href" th:href="@{/auth/join}">회원 가입</a> </div>
        </div>
    </div>

    <div class="nav-control-container" th:unless="${user} == null">
        <div class="nav-control">
            <div class="nav-control-item"> <a class="mypage" th:href="|/users/${user.id}|">마이페이지</a> </div>
            <div class="nav-control-item middle-dot"></div>
            <div class="nav-control-item"><form th:action="@{/auth/logout}" method="post">
                <button class="logout" type="submit">
                    로그아웃
                </button>
            </form> </div>
            <div class="nav-control-item middle-dot"></div>
            <div class="nav-control-item"><b class="userName" th:text="${user.nickName}">닉네임</b> 님</div>
        </div>
    </div>
</div>
</html>