<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="starRateContainer" th:fragment="star(fieldName, width)">
    <div class="star">
        <img class="star-empty" src="/img/empty-ratings.webp"/>
        <input class="star-input" max="5" min="1" onclick="drawStar(this, this.getAttribute('fieldName'))"
               step="1" th:fieldName="${fieldName}" th:id="${fieldName}" type="range" value="0"/>
        <div class="star-img-container" th:id="rating- + ${fieldName}" th:if="${width} != null"
             th:style="|width : ${width * 20}%|">
            <img class="star-full" src="/img/full-ratings.webp"/>
        </div>
        <div class="star-img-container" th:id="rating- + ${fieldName}" th:if="${width} == null">
            <img class="star-full" src="/img/full-ratings.webp"/>
        </div>
    </div>

    <script th:inline="javascript">
        const drawStar = (target, fieldName) => {
            var id = '#rating-' + fieldName;
            document.querySelector(id).style.width = `${target.value * 20}%`;
            document.getElementById(fieldName).setAttribute('value', target.value);
        }
    </script>
</div>
</html>
