<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="star(fieldName, width)" class="starRateContainer">
    <div class="star">
        <img class="star-empty" src="/img/empty-ratings.webp"/>
        <input class="star-input" type="range" th:fieldName = "${fieldName}" th:id="${fieldName}" onclick="drawStar(this, this.getAttribute('fieldName'))" value="0" step="1" min="1" max="5"/>
        <div th:id="rating- + ${fieldName}" th:if="${width} != null" th:style="|width : ${width * 20}%|" class="star-img-container">
            <img class="star-full" src="/img/full-ratings.webp"/>
        </div>
        <div th:id="rating- + ${fieldName}" th:if="${width} == null" class="star-img-container">
            <img class="star-full" src="/img/full-ratings.webp"/>
        </div>
    </div>

    <script th:inline="javascript">
        const drawStar = (target, fieldName) => {
            var id = '#rating-' + fieldName;
            document.querySelector(id).style.width = `${target.value * 20}%`;
            document.getElementById(fieldName).setAttribute('value', target.value);
        }
    </script>
</div>
</html>