html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 15%;
}

footer {
    height: 15%;
    position : relative;
    transform : translateY(-100%);
    background: #a5201d;
    color: #ffffff;
}

.about{
    float: left;
}
.footer-logo{
    float: right;
}

.head {
    color: #a5201d;
    background: white;
}

/* 리뷰 폼 */
.review-container{
    height: auto;
    padding: 1% 5%;
}
/* 리뷰 폼 */

/* 에러 */
.container {
     max-width: 560px;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

/* nav bar */
.navbar-brand {
    color: #a5201d;
}
.nav-bg{
    background: #ffffff;
    border-bottom: 3px solid #a5201d;
}
a.nav-link{
    color: #a5201d;
}
.userName{
    color: #a5201d;
}
button.logout{
    border: none;
    background: none;
    color: #a5201d;
}
button.logout:hover{
    text-decoration: underline;
}
a.mypage{
    color: #a5201d;
}
/* nav bar */