@font-face {
    font-family: 'GangwonEduAll';
    src: url("../fonts/GangwonEduAll.woff") format('woff');
    src: url("../fonts/GangwonEduAll.ttf") format('truetype');
    src: url("../fonts/GangwonEduAll.otf") format('truetype');
    src: url("../fonts/GangwonEdu_OTFBoldA.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GangwonEduAll';
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: 15vh;
}

footer {
    height: 15vh;
    position : relative;
    transform : translateY(-100%);
    background: #a5201d;
    color: #ffffff;
}
.about {
    float: left;
    padding: 1.5vh 1vw;
}

#about-title {
    font-family: Pretendard;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-bottom: 1vh;
    font-size: 110%;
}

.about-people {
    font-family: Pretendard;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 90%;
    margin-bottom: 1vh;
}

#about-project {
    font-family: GangwonEduAll;
    font-weight: 350;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-size: 80%;
    margin-top: 2vh;
}
.footer-logo {
    float: right;
    height: 100%;
    padding: 3vh 4vw;
}

.footer-logo-container {
    width: 8.2vw;
    height: 5.6vh;
}

.footer-logo-container img {
    width: 100%;
    height: 100%;
}

.head {
    color: #a5201d;
    background: white;
}

/* 회원 가입 페이지*/
.auth-head {
    height: 20vh;
    text-align: -webkit-center;
    padding-top: 8.5vh;
}

.head-logo-container {
    width: 15vw;
    height: 10.3vh;
}

.head-logo-container img {
    width: 100%;
    height: 100%;
}

#joinForm {
    height: 65vh;
    padding: 5vh 38vw;
    text-align: left;
}

#joinForm input {
    width: 100%;
    height: 4.5vh;
    border-radius: 4px;
}

.auth-button button {
    border: none;
    background: #982d25;
    color: white;
    width: 100%;
    height: 5.5vh;
    margin-top: 2vh;
    border-radius: 5px;
    font-size: 120%;
}

/* 회원 가입 페이지*/

/* 로그인 페이지*/
#loginForm {
    height: 65vh;
    padding: 15vh 38vw;
    text-align: left;
}

#loginForm input {
    width: 100%;
    height: 4.5vh;
    border-radius: 4px;
}
/* 로그인 페이지*/


/* 리뷰 폼 */
.review-form-back {
    background: #f8f1f0;
    text-align: -webkit-center;
    width: 100%;
    margin-top: 2vh;
    height: auto;
}
.review-container {
    height: auto;
    background: white;
    margin: 0 6vw;
    text-align: left;
    padding-left: 2vw;
}

.review-container input{
    border: none;
    height: 100%;
    width: 100%;
    padding: 1vh 2vw;
}

.review-form-title {
    height: 10vh;
    border-bottom: 1px solid #982d25;
    width: 100%;
}


.review-form-menu {
    height: 8vh;
    width: 100%;
    border-bottom: solid 1px #982d25;
}

.review-form-menu-type {
    border-right: solid 1px #982d25;
    height: 100%;
    width: 14vw;
    float: left;
}

.left-type {
    width: 7vw;
    height: 100%;
    text-align: center;
    opacity: 0.6;
    float: left;
    border-right: solid 1px #982d25;
}
.right-type {
    width: 6.9vw;
    height: 100%;
    text-align: center;
    opacity: 0.6;
    float: left;
}

label.review-form-fork-type {
    width: 100%;
    cursor: pointer;
    margin-top: 2.5vh;
}

.review-form-menu-type input {
    display: none;
}

input#forkCutletName {
    height: 100%;
    width: 82%;
}
#pre-upload-images {
    height: auto;
    width: 100%;
    padding-top: 3vh;
    border-bottom: 1px solid #982d25;
    text-align: -webkit-center;
}
#upload-images {
    height: auto;
    width: 100%;
    padding-top: 3vh;
    display: none;
    border-bottom: 1px solid #982d25;
    text-align: -webkit-center;
}

.upload-images-container {
    height: 100%;
    width: 100%;
    padding: 0vh 3vw;
}

button.delete_btn {
    float: right;
    border: none;
    background: #a5201d;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 0.75rem;
    border-radius: 4px;
}
.upload-image-container {
    width: 65vw;
    height: 55vh;
    margin-bottom: 3vh;
}
.upload-image-container img{
    width: 100%;
    height: 100%;
}
.review-form-image{
    height: 8vh;
    width: 100%;
    border-bottom: solid 1px #982d25;
}
.review-form-image label {
    width: 14vw;
    height: 100%;
    border-right: 1px solid #982d25;
    margin: 0;
    float: left;
}
.review-form-image label:hover{
    cursor: pointer;
}

#camera-ico-container {
    height: 80%;
    width: 3.8vw;
    float: left;
    padding: 2vh 1vw;
    margin-top: 0.5vh;
    margin-left: 3.5vh;
}
#camera-ico-container img {
    width: 100%;
    height: 100%;
}

#review-image-name {
    margin-bottom: 0;
    height: 100%;
    padding: 3vh 1vw;
    opacity: 0.4;
    font-family: GangwonEduAll;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4b4141;
    font-size: 100%;
}


.review-form-location{
    height: 7vh;
    width: 100%;
    border-bottom: solid 1px #982d25;
}
.review-form-location input {
    float: left;
}
input#location-btn {
    width: 10%;
    background: none;
    border-right: 1px solid #982d25;
    color: #4b4141;
    opacity: 0.4;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
input#roadAddress {
    width: 45%;
    height: 100%;
    border-right: solid 1px #982d25;
}
input#detailAddress {
    width: 45%;
    height: 100%;
}
.review-form-oneSentence{
    height: 6vh;
    width: 100%;
    border-bottom: solid 1px #982d25;
}

.review-form-content{
    height: 15vh;
    width: 100%;
    border-bottom: solid 1px #982d25;
}

textarea#content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: none;
    padding: 2vh 2vw;
}

.review-form-ratings {
    height: 30vh;
    padding: 1vh 2vw;
    width: 100%;
    border-bottom: solid 1px #982d25;
}

.review-form-rating {
    padding: 1vh 1vw;
    width: 30vw;
    height: 5vh;
}

.review-form-rating label {
    width: 8vw;
    height: 2vh;
    float: left;
    line-height: normal;
}

.review-form-rating input {
    width: 14vw;
    height: 100%;
    border: 1px solid #982d25;
}

.review-form-button {
    width: 100%;
    height: 25vh;
    padding: 10.5vh 2vw;
}

.review-form-button button {
    border: none;
    background: #a5201d;
    color: white;
    width: 9vw;
    height: 3.8vh;
    border-radius: 5px;
}
/* 리뷰 폼 */

/* 에러 */
.container {
     max-width: 560px;
}
.field-error {
    border-color: #dc3545;
    color: #dc3545;
}

/* nav bar */
a.nav-logo {
    float: left;
}

.nav-logo-container {
    width: 10vw;
    height: 7vh;
}
.nav-logo-container img {
    width: 100%;
    height: 100%;
}

.nav-bg{
    background: #ffffff;
    border-bottom: 3px solid #a5201d;
    height: 17vh;
    margin: 0 4vw;
    width: 91vw;
    padding-top: 8vh;
}


.nav-control-container {
    height: 8vh;
    width: 80vw;
    padding-top: 5vh;
    float: left;
}

.nav-control {
    height: 100%;
    float: right;
}

.nav-control-item{
    float: left;
}
a.nav-href{
    color: #a5201d;
}
.userName{
    color: #a5201d;
}
button.logout{
    border: none;
    background: none;
    color: #a5201d;
}
button.logout:hover{
    text-decoration: underline;
}
a.mypage{
    color: #a5201d;
    float: left;
}
div.middle-dot {
    height: 0.7vh;
    width: 0.4vw;
    margin-top: 0.8vh;
    background-color: #a6201f;
    border-radius: 100%;
    margin-left: 1vw;
    margin-right: 1vw;
}
/* nav bar */


/* home */
.home-top{
    margin: 0% 4.1%;
    height: 83vh;
}

.home-background {
    height: 300vh;
    width: 100%;
    background: url("../img/home-back.webp") bottom no-repeat;
    background-size: 100% 95%;
}

div.feature {
    height: 8.7vh;
    margin: 0;
    width: 100%;
    padding-top: 2.4vh;
}

.feature a{
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a4a2a2;
}

div.top-img{
    width: 100%;
    height: 58.9vh;
}

div.top-img img{
    height: 100%;
    width: 100%;
}

div.desc{
    height: 14.5vh;
    text-align: center;
    padding-top: 6vh;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f200d;
    font-size: 130%;
    font-weight: 600;
}

.review-6-images {
    border-top: 3px solid #a5201d;
    border-bottom: 3px solid #a5201d;
    height: 100vh;
    padding: 10vh 21.3vw;
}

.up-3-images {
    height: 35vh;
    width: 60vw;
}

.line {
    height: 5vh;
    border-top: 0.2vh solid #982d25;
}

.down-3-images {
    height: 35vh;
    width: 60vw;
}

div.reviews {
    height: 12vh;
    width: 100%;
    padding-top: 6vh;
    text-align: center;
}

div.image-6-container {
    width: 14.5vw;
    float: left;
    height: 30vh;
    margin: 0 2.1vw;
    position: relative;
}

.review-6-explain {
    opacity: 0;
    position: absolute;
    text-align: center;
    height: 30vh;
    width: 14.5vw;
    color: white;
    padding-top: 10vh;
    font-family: GangwonEduAll;
    font-size: 80%;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.explain-restaurant-name {
    height: 30%;
    font-size: 200%;
}

.explain-address {
    height: 50%;
    padding: 0 20%;
}

.review-go {
    height: 20%;
}



.image-6-container:hover img{
    filter: brightness(0.4);
}

.image-6-container:hover .review-6-explain{
    opacity: 1;
}

.review-6-images img {
    height: 100%;
    width: 100%;
    border-radius: 7%;
    position: absolute;
}



.reviews a {
    height: 12vh;
    width: 100%;
    padding-top: 6vh;
    color: #2f200d;
    font-size: 2.5vh;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.recommend-review{
    height: 85vh;
    text-align: center;
}

.recommend-title {
    height: 20vh;
    padding-top: 10vh;
    font-size: 2.5vh;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #2f200d;
}

.recommend-images {
    height: 30vh;
    width: 100vw;
    padding: 0 15.4vw;
}

.recommend-one-img {
    width: 100%;
    height: 100%;
    text-align: -webkit-center;
}

.recommend-two-img div {
    float: left;
}

.recommend-image-container{
    width: 29.6vw;
    height: 25vh;
    margin: 0 2.1vw;
}

.recommend-images img{
    height: 100%;
    width: 100%;
}

.recommend-desc {
    height: 35vh;
}

.desc-title {
    height: 5vh;
    font-size: 2.5vh;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #a5201d;
}

.desc-menu {
    height: 7vh;
    color: #a5201d;
}

.desc-address {
    height: 8vh;
}

.desc-recommend button{
    background: #a5201d;
    color: white;
    border: none;
    width: 16vw;
    height: 4vh;
    border-radius: 15%/100%;
}



/* home */


/*reviewList*/
.review-list-page {
    padding-top: 7vh;
    overflow: hidden;
    position: relative;
}
div.left {
    float: left;
    width: 18%;
    height: 100%;
    position: absolute;
    background-color: #f8f1f0;
}
div.right{
    float: right;
    width: 82%;
    height: 100%;
    padding-top: 2.6vh;
    padding-left: 6vw;
    padding-right: 4.7vw;
}

.list-head {
    border-bottom: 3px solid #a5201d;
    height: 8vh;
}
.review-list {
    height: 163vh;
    width: 100%;
    padding-top: 2.3vh;
    border-bottom: 3px solid #a5201d;
}


.review-list-container {
    padding: 4vh 0;
    height: 40vh;
    border-top: 3px solid #a5201d;
}
#review-list-thumbnail{
    width: 14.5vw;
    height: 32vh;
    float: left;
}
#review-list-thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
}
#review-list-info {
    height: 14vh;
    width: 35vw;
    padding-left: 3.3vw;
    padding-top: 2vh;
    float: left;
}
span.list-title {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0b0a0a;
    font-size: 2rem;
    padding-bottom: 4vh;
}


.review-list-title{
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0a0a;
    font-size: 1.72rem;
}

a.list-write {
    text-decoration: none;
    color: #4a4040;
    padding-top: 3vh;
    float: right;
    font-size: 1.2rem;
}

.review-list-menu{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0a0a;
    font-size: 1.4rem;
    float: left;
}

.review-list-by {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4d4141;
    padding-top: 18vh;
    width: 100%;
    height: 22vh;
}

.review-list-by label {
    opacity: 0.5;
}

label.by-bar {
    color: #982d25;
}


.review-paging {
    height: 25vh;
    width: 100%;
    padding-top: 5vh;
}

.page-num {
    float: left;
    margin-left: 1vw;
    width: 2rem;
    height: 2.3rem;
    text-align: center;
    border: solid 1px #4b4141;
}
.page-num button {
    border: none;
    padding: 20%;
    width: 100%;
    height: 100%;
}

.page-selected{
    background: #982d25;
    color: white;
}

.page-non-selected{
    background: white;
    color: #982d25;
}

.page-num a {
    text-decoration: none;
    color: #b03112;
    font-size: 1.5rem;
}

.next-page {
    float: left;
    margin-left: 1vw;
    width: 2.2vw;
    height: 2.5vh;
}
/*reviewList*/

/*reviewDetail*/
.review-background {
    width: 100%;
    background: url("../img/detail-back.webp") bottom right no-repeat;
    background-size: 100% 135%;
}

.review-detail-page {
    padding-top: 7vh;
    overflow: hidden;
    position: relative;
}

#review-detail-info {
    height: 18vh;
    width: 62.2vw;
    border-bottom: solid 1px #4b4141;
}

.review-detail-title {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #0b0a0a;
    font-size: 2rem;
}

.detail-menu {
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0b0a0a;
    height: 3vh;
    margin-bottom: 3.5vh;
}

.review-detail-menu {
    font-weight: 300;
    font-size: 1.3rem;
    float: left;
}

.review-detail-menu-type {
    font-weight: 100;
    font-size: 1rem;
    margin-left: 1vw;
    margin-top: 0.2rem;
    float: left;
    color: #982d25;
}

.review-detail-overall {
    color: #a5201d;
    width: 100%;
    height: 4vh;
}

.review-detail-by {
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4141;
    font-size: 1rem;
}

.controller-button{
    float: right;
}

#delete-btn-form{
    float: right;
}

.controller-button button {
    border: none;
    background: none;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4141;
}

.review-detail-one-sentence {
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #982d25;
    padding: 2.2vh 0.5vw;
    font-size: 1rem;
}

.review-detail-container {
    width: 62.2vw;
    height: 50vh;
    margin-bottom: 1.5vh;
}

.review-detail-container img {
    height: 100%;
    width: 100%;
}

.review-detail-content {
    width: 62.2vw;
    height: 20vh;
    border-bottom: solid 1px #4b4141;
    padding-bottom: 2.2vh;
}

.review-detail-ratings {
    height: 30vh;
    width: 62.2vw;
    border-bottom: solid 1px #4b4141;
    padding: 3vh 1vw;
}

div.rating {
    width: 100%;
    height: 5vh;
}



.likes {
    height: 10vh;
    width: 62.2vw;
    padding-top: 3vh;
}

.likes-container button {
    border: none;
    background: none;
}

#comment {
    width: 62.2vw;
    height: 6vh;
    padding-top: 2vh;
    border-bottom: solid 1px #4b4141;
}



.comment-container {
 width: 62.2vw;
 padding: 1vh 0;
 border-bottom: solid 1px #4b4141;
}

span.user-grade {
    float: left;
    margin-right: 0.5vw;
    color: #a5201d;
}

.comment-user {
    float: left;
    font-weight: 700;
}

.comment-content {
    padding-top: 4vh;
}

.page-container {
    width: 62.2vw;
    height: 8vh;
    padding: 2vh 25vw;
}
.comment-controller-container {
    width: 62.4vw;
    height: 15vh;
    border: solid 1px #4b4141;
    margin-bottom: 20vh;
}
.comment-update-controller-container {
    width: 62.4vw;
    height: 15vh;
    margin: 1vh 0;
    border: solid 1px #4b4141;
}
.write-container {
    width: 62.2vw;
    height: 10vh;
}
input.write-comment {
    width: 100%;
    height: 100%;
    border: none;
}
.send-container{
    width: 62.2vw;
    height: 5vh;
    border-top: solid 1px #4b4141;
}

.send-container button {
    border: none;
    background-color: #FFFF;
    float: right;
    color: #a5201d;
    width: 7vw;
    padding-right: 1vw;
    border-left: solid 1px #4b4141;
    height: 4.7vh;
}

/* 별점 */
.rating label {
    float: left;
    width: 8vw;
    line-height: normal;
}

.staticStar {
    width: 10vw;
    height: 100%;
    float: left;
}

.starRateContainer {
    width: 20vw;
    height: 100%;
    float: left;
}
div.star {
    width: 6vw;
    height: 1.6vh;
    position: relative;
}
.star-empty {
    position: absolute;
    width: 100%;
    height: 100%;
}
.star-img-container {
    width: 0%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}
.star-full {
    position: relative;
    pointer-events: none;
    width: 6vw;
    height: 1.6vh;
    vertical-align: super;
}
input.star-input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    border: none;
    padding: unset;
}

/* 별점 */

/*reviewDetail*/


/*myPage*/
#my-page-container {
    min-height: 68vh;
    padding: 0 4vw;
}

.mypage-top {
    height: 8vh;
    padding: 2.3vh 1vw;
    border-bottom: 3px solid #982d25;
    font-size: 2vh;
}

.mypage-menu {
    height: 8vh;
}

.mypage-menu ui {
    float: left;
    margin: 2vh 1vw;
}

.mypage-menu button {
    border: none;
    background: none;
    focus: none;
    outline: none;
}

.selected{
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #982d25;
}

.non-selected{
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4b4141;
}

#update-content {
    min-height: 52vh;
    padding: 1vh 1vw;
    margin-bottom: 4vh;
}

.my-page-content-title {
    height: 6vh;
    font-size: 2vh;
}

.input-container {
    margin-bottom: 2vh;
}

.input-container label {
    display: block;
    font-size: 1.4vh;
    font-weight: 600;
}

.input-container input {
    width: 20vw;
    height: 3.5vh;
    border: 1px solid #982d25;
    padding-left: 1vw;
}
.input-button button {
    border: none;
    background: none;
    font-size: 1.7vh;
    color: #982d25;
}


#like-list-content {
    min-height: 52vh;
    padding: 1vh 1vw;
    width: 100%;
}

.user-control-container {
    width: 20vw;
}

#user-update-btn {
    float: left;
}

#user-delete-btn {
    float: right;
}

#like-review-delete-btn {
    float: right;
}
#master-apply-content {
    min-height: 52vh;
    padding: 1vh 1vw;
    width: 100%;
}
textarea#apply-content {
    height: 20vh;
    width: 20vw;
    border: 1px solid #982d25;
    padding: 1vh 1vw;
}

.apply-list-container {
    padding: 4vh 0;
    height: 20vh;
    width: 40vw;
}

.apply-list-border {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #a5201d;
    border-top: 1px solid #a5201d;
}

.apply-control{
    float: right;
}
.apply-btn{
    float: left;
}
/*myPage*/

/*에러*/
.error-field::placeholder{
    color: #d02926;
}
div#noImageError {
    float: left;
    width: 70vw;
    height: 100%;
    padding: 2.5vh 2vw;
    font-weight: 200;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    font-weight: inherit;
}

#rating-error{
    padding: 1vh 1vw;
    width: 30vw;
    height: 5vh;
}

.non-error{
    color: gray;
}
.yes-error{
    color: #d02926;
}
/*에러*/