<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <div th:replace="/fragments/header.html :: fragment-header"></div>
</head>
<body>
<div th:replace="/fragments/nav.html :: fragment-nav"></div>
<!--페이지 소스-->
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>홈 화면</h2>
        <a class="nav-link" href="/upload" th:href="@{/upload}" >임시업로드 <span class="sr-only">(current)</span></a>
    </div>


</div>
<!--페이지 소스-->
<footer th:replace="/fragments/footer.html :: fragment-footer"></footer>
</body>
</html>